@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@layer base {
  body {
    font-family: 'Poppins', sans-serif;
  }

  section {
    @apply mx-5 sm:mx-10 lg:mx-20 py-20;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Libre Caslon Text', serif;
  }
}

.nav-link {
  @apply rounded-xl p-1.5 px-3 hover:bg-primary/20 dark:hover:bg-primary-dark/20 active:bg-[#525252] active:text-secondary-dark text-secondary dark:text-secondary-dark transition-colors duration-200
}

.nav-link.active {
  @apply rounded-xl p-1.5 px-3 bg-primary dark:bg-primary-dark text-secondary-dark dark:text-secondary hover:bg-primary/85 dark:hover:bg-primary-dark/85 active:bg-[#525252] active:text-secondary-dark
}